* {
  color: #D9B382;
          
}
h1{
 text-align: center;
}

body {
  margin: 0;
}

.banner {
  background-color: #1A3431;
  position: relative;
  height: 70px;
}

.banner img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: auto;
}

.banner h1 {
  color: #D9B382;
  line-height: 70px; 
  margin: 0;
}
.go_back {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
.container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 800px;
}

